<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>403</title>
</head>
<body>
    <div style="height: 90vh; display: flex; justify-content: center; align-items: center">
        <div style="text-align: center">
          <h1 style="font-size: 200px;margin: 0">403</h1>
          <h3 style="font-size: 60px;margin: 10px"> AccessDenied </h3>
          <a href="/logout"><button
                  style="background-color: red; color: white; border: none; outline: none;width: 100px;height: 40px">
                  Logout
          </button></a>
        </div>
    </div>
</body>
</html>