<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <main id="customer">
      <h2  class="pt-4 pb-4">Customer Management</h2>
      <div class="table-responsive">
          <table class="table table-striped table-sm">
              <thead>
              <tr>
                  <th scope="col">#</th>
                  <th scope="col">Full Name</th>
                  <th scope="col">Number Phone</th>
                  <th scope="col">Email</th>
                  <th scope="col"></th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="customer, index : ${customerList}">
                  <td th:text="${index.count}"></td>
                  <td th:text="${customer.fullName}"></td>
                  <td th:text="${customer.phone}"></td>
                  <td th:text="${customer.email}"></td>
                  <td>
                      <a th:href="@{/admin/customer-detail(id=${customer.id})}">
                          <button style=" padding:8px;border: none; outline: none;background-color: #146c43; color: white">
                              View Details
                          </button>
                      </a>
                  </td>
              </tr>
              </tbody>
          </table>
      </div>
  </main>
</body>
</html>